.top{
    display: flex;
    flex: 1;
    margin: 16px;
}

.head{
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.logo{
    display: flex;
    flex: 1;
    justify-content: flex-start;
}


h1{
    font-size: 34px;
}